/* You can add global styles to this file, and also import other style files */
label.xng-breadcrumb-trail {
    color: blue;
}

body {
    background-color: #ededed;
}

.bg-primary, .list-group-item.active {
    background-color: rgb(52,58,64);
}